<h2>Win at life with Praxis!</h2>
<p>Praxis, your personal habit tracker, is designed to help you set goals, track habits that support those goals, and
    win at life.</p>
<p>Let's get started, shall we?</p>