{{!-- where the base layout for Praxis will live --}}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Praxis Habit Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../main.css">
    {{!--
    <script src="main.js"></script> --}}
</head>

<body>
    <header class="header">
        <h1>Praxis, your personal habit tracker</h1>
        {{!-- <ul>
            <li>new user</li>
            <li>login</li>
            <li>how to</li>
        </ul> --}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer class="footer">
        <p>2018 Tishana Trainor</p>
    </footer>

</body>

</html>