<div>
    <h2>About Praxis...</h2>

    <h5>Praxis, your personal habit tracker</h5>
    <h5>Set goals, track habits, and win at life!</h5>

    <p>Praxis is a project I created while in the Web Development Immersive program at General Assembly.</p>

    <p>I am a firm believer in goal setting as a way to be able to get the most out of life. I set goals, break
        those
        goals into smaller pieces, or habits. I then tick each habit off as they are completed.</p>

    <p>Now, you can do the same with Praxis. You can set new goals, and for each goal set a goal date, and create
        smaller habits for each goal. When you are done with the goal, you can delete it.</p>

    <h2>About me...</h2>
    <p>Apple pie chocolate cake tiramisu chupa chups cotton candy cheesecake. Liquorice chocolate jelly beans
        biscuit
        chocolate cake. Icing marzipan sugar plum pastry cotton candy. Cotton candy candy chocolate bar cake tart
        chocolate bar biscuit jelly chocolate bar. Pie chocolate bar pie powder lollipop. Jelly beans tootsie roll
        cookie. Sweet gummi bears marzipan. Danish chocolate liquorice jelly beans candy canes.</p>
    <p>Donut soufflé cheesecake. Macaroon icing fruitcake caramels. Cotton candy sesame snaps jelly tootsie roll
        dessert chupa chups gummies. Wafer jelly-o muffin bear claw wafer cheesecake.</p>
</div>