<div>
    <h2 class="goal">About Praxis...</h2>

    <p>Praxis is your personal habit tracker...</p>
    <p>You can set goals, track habits, and win at life!</p><br>


    <p>I am a firm believer in goal setting as a way to be able to get the most out of life. I set goals, break those
        goals into smaller pieces, or habits. I then tick each habit off as they are completed.</p>

    <p>Now, you can do the same with Praxis. You can set new goals, and for each goal set a goal date, and create
        smaller habits for each goal. When you are done with the goal, you can delete it.</p><br><br>

    <h2 class="goal">About me...</h2>
    <p>I'm Tishana, a fullstack web developer in the DC Metro Area. I love to create practical apps dedicated to
        personal goals and organization.</p>
    <p>You can see more of my work <a href="https://tishana.github.io">here</a>.</p>
</div>