<div>
    <h3>Add a Habit!</h3>
    <form action="/habit" method="POST">
        <label>Title:</label><br>
        <textarea name="title" cols='40' rows='2'></textarea><br>
        <input type="submit" value='Add it!'>
    </form>

</div>