<div>
    <h3 class="goals fresh">Set a New Goal!</h3>
    <form action="/goal" method="POST">
        <label>Title:</label><br>
        <textarea class="inputField" name="title" cols='40' rows='2' placeholder="Your new goal title..."></textarea><br>
        <label>Goal Date:</label><br>
        <textarea class="inputField" name='dateGoal' cols='40' rows='1' placeholder="mm/dd/yyyy"></textarea><br>
        <label>Description:</label><br>
        <textarea class="inputField" name='description' cols='40' rows='3' placeholder="Describe your new goal..."></textarea><br>
        <input class="button" type="submit" value='Set it!'>
    </form>

</div>