<div>
    <h4>Set a New Goal!</h4>
    <form>
        <p>Title:</p><br>
        <p><textarea type='text' name='title' cols='30'></p><br>
        <p><textarea type='text' name='description' cols='30' rows='2'></p><br>
    </form>
</div>